@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&subset=latin,cyrillic);

@font-face {
  font-family: 'BebasNeue';
  src:   url('../../fonts/bebas-full/TTF/BebasNeue Light.ttf') format('truetype');
}

@font-face {
  font-family: 'BebasNeueBold';
  src:   url('../../fonts/bebas-full/TTF/BebasNeue Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'IntroCond';
  src:   url('../../fonts/intro-cond/Intro Cond Black Free.otf');
}

@font-face {
  font-family: 'KatahdinRound';
  src:   url('../../fonts/katahdin-master/KatahdinRound.otf');
}