.pre-footer {
  background: #f3f3f3;
  color: #787878;
  font-size: 24px;
  padding: 60px;
  text-align: center;
  position: relative;
  @media screen and (max-width: 736px) {
    padding: 60px 20px;
  }
  &:after {
    content: '';
    display: block;
    height: 1px;
    width: ~'calc(100% - 160px)';
    position: absolute;
    left: 80px;
    bottom: 0;
    background: #dcdcdc;
    @media screen and (max-width: 736px) {
      left: 20px;
      width: ~'calc(100% - 40px)';
    }
  }
  a {
    margin-top: 40px;
    text-decoration: underline;
    line-height: 110px;
    font-size: 110px;
    display: inline-block;
    text-transform: uppercase;
    color: #CC0F22;
    font-family: BebasNeueBold, sans-serif;
  }
}

footer {
  background: #f3f3f3;
  color: #acacac;
  padding: 40px 80px 30px;
  position: relative;
  @media screen and (max-width: 736px) {
    padding: 40px 20px 30px;
  }
  @media screen and (max-width: 414px) {
    display: flex;
    flex-flow: column;
  }
  .menu {
    text-align: center;
    margin-bottom: 70px;
    @media screen and (max-width: 1024px) {
      text-align: left;
      padding-right: 310px;
    }
    @media screen and (max-width: 414px) {
      padding-right: 0;
      margin-bottom: 20px;
    }
    a {
      font-weight: bold;
      font-size: 16px;
      line-height: 1.8;
      letter-spacing: -0.3px;
      color: #acacac;
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .contacts {
    font-weight: bold;
    @media screen and (max-width: 768px) {
      padding-right: 310px;
    }
    @media screen and (max-width: 414px) {
      padding-right: 0;
    }
    a {
      color: #9251E5;
      margin-left: 20px;
      @media screen and (max-width: 768px) {
        margin-left: 0;
      }
    }
  }
  .social {

  }
  .rocket-approved {
    .icon-stamp;
    position: absolute;
    right: 80px;
    bottom: 30px;
    height: 115px;
    width: 300px;
    @media screen and (max-width: 736px) {
      right: 20px;
    }
    @media screen and (max-width: 414px) {
      position: static;
      margin-top: 50px;
      width: 100%;
      background-size: 100%;
      height: 150px;
    }
  }
}