body {
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: 'Open Sans', sans-serif;;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: BebasNeue, sans-serif;
  margin: 0;
}

p {
  margin: 0 0 20px;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

.clearfix {
  content: '';
  display: table;
  clear: both;
}

.full-height-block {
  height: 100vh;
}

.counter {
  display: flex;
  position: fixed;
  transform: translate3d(0, 0, 0) rotate(90deg);
  top: ~'calc(50vh - 30px)';
  left: 0;
  align-items: center;
  @media screen and (max-width: 768px) {
    left: auto;
    right: -100px;
  }
  @media screen and (max-width: 736px) {
    display: none;
  }
  &:before {
    content: '';
    display: inline-block;
    background: #eec817;
    height: 4px;
    width: 50px;
    margin-right: 25px;
    align-items: center;
  }
  .count {
    margin-right: 80px;
    font-size: 55px;
    text-transform: uppercase;
  }
  .points {
    display: flex;
    .point {
      height: 10px;
      width: 10px;
      background: rgba(255, 255, 255, .5);
      border-radius: 100%;
      transition: .3s;
      &:not(:last-child) {
        margin-right: 40px;
      }
      &.active {
        background: #eec817;
      }
    }
  }
}