header {
  transform: translate3d(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px 80px 0;
  align-items: center;
  font-size: 16px;
  z-index: 2;
  @media screen and (max-width: 736px) {
    padding: 30px 20px 0;
  }
  .logo {
    font-family: KatahdinRound, sans-serif;
    letter-spacing: -3px;
    font-size: 35px;
    color: #fff;
    span {
      color: #EEC817;
    }
  }
  .menu {
    left: ~'calc(50vw - 205px)';
    top: 42px;
    position: absolute;
    @media screen and (max-width: 768px) {
      display: none;
    }
    a {
      font-size: 16px;
      font-weight: bold;
      display: inline-block;
      padding-bottom: 5px;
      border-bottom: 4px solid transparent;
      transition: .2s;
      &:not(:last-child) {
        margin-right: 20px;
      }
      &:hover, &.active {
        border-color: #7e30e2;
      }
    }
  }
  .hire-us {
    color: #eec817;
    text-transform: uppercase;
    font-weight: bold;
  }
}