.icon-mouse {
  background-image: ~'svg-load(../images/icons/mouse.svg)';
  background-repeat: no-repeat;
  background-position: center;
}

.icon-long-arrow {
  background-image: ~'svg-load(../images/icons/long-arrow.svg)';
  background-repeat: no-repeat;
  background-position: center;
}

.icon-stamp {
  background-image: ~'svg-load(../images/icons/rocket-stamp.svg)';
  background-repeat: no-repeat;
  background-position: center;
}

.icon-development {
  background-image: ~'svg-load(../images/icons/shape.svg)';
  background-repeat: no-repeat;
  background-position: center;
}
