.page-home {
  background-color: #2D2D2D;
  > section {
    &:last-of-type {
      margin-bottom: 50px;
    }
    &.first {
      background-color: #761FD1;
      .full-height-block;
      .scroll-advice {
        position: absolute;
        top: ~'calc(50vh - 61px)';
        left: ~'calc(50vw - 270px)';
        width: 20px;
        display: flex;
        flex-flow: column;
        @media screen and (max-width: 736px) {
          display: none;
        }
        &:before {
          content: '';
          display: block;
          width: 20px;
          height: 30px;
          .icon-mouse();
          flex: 1 1;
          order: -2;
          margin-bottom: 20px;
        }
        &:after {
          content: '';
          display: block;
          width: 20px;
          height: 77px;
          .icon-long-arrow();
          flex: 1 1;
          order: -1;
          margin-bottom: 20px;
        }
        span {
          transform: rotate(-270deg);
          font-weight: bold;
          font-size: 16px;
          line-height: 0.9;
          color: #eec817;
        }
      }
      h1 {
        font-family: IntroCond, sans-serif;
        font-size: 100px;
        line-height: 0.8;
        color: #ffffff;
        position: absolute;
        left: ~'calc(50vw - 205px)';
        top: ~'calc(50vh - 160px)';
        font-weight: 300;
        @media screen and (max-width: 736px) {
          font-size: 70px;
        }
        @media screen and (max-width: 414px) {
          left: ~'calc(50vw - 135px)';
        }
      }
      .learn-more {
        font-size: 16px;
        left: ~'calc(50vw - 200px)';
        top: ~'calc(50vh + 165px)';
        display: block;
        border: solid 3px #fff;
        padding: 12px 58px;
        position: absolute;
        font-weight: bold;
        transition: .2s;
        @media screen and (max-width: 736px) {
          top: ~'calc(50vh + 75px)';
        }
        @media screen and (max-width: 414px) {
          left: ~'calc(50vw - 130px)';
        }
        &:hover {
          background: #fff;
          color: #7e30e2;
        }
      }
    }
    &:not(.first) {
      margin: 50px 80px 0;
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
      padding: 70px 55px 0;
      @media screen and (max-width: 736px) {
        margin: 50px 20px 0;
      }
      @media screen and (max-width: 414px) {
        padding: 70px 20px 0;
      }
      h1 {
        width: 600px;
        font-size: 55px;
        font-family: BebasNeueBold, sans-serif;
        font-weight: bold;
        margin-bottom: 10px;
        position: relative;
        padding-left: 145px;
        left: ~'calc(50% - 340px)';
        @media screen and (max-width: 414px) {
          width: 100%;
          left: 0;
          padding-left: 0;
          word-break: break-word;
        }
        &:before {
          display: block;
          content: '';
          width: 125px;
          height: 4px;
          background-color: #ffffff;
          position: absolute;
          left: 0;
          top: 18px;
          @media screen and (max-width: 414px) {
            top: -18px;
          }
        }
      }
      .desc {
        padding-left: 145px;
        width: 600px;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 42px;
        left: ~'calc(50% - 340px)';
        position: relative;
        @media screen and (max-width: 414px) {
          width: 100%;
          left: 0;
          padding-left: 0;
        }
      }
      .img {
        width: 1000px;
        margin: auto;
        @media screen and (max-width: 1024px) {
          width: 100%;
        }
        img {
          display: block;
          width: 100%;
        }
      }
      &.storia {
        background-color: #655ea2;
      }
      &.beeline {
        background-color: #3abbdb;
        .img {
          width: 850px;
          @media screen and (max-width: 1024px) {
            width: 100%;
          }
        }
      }
      &.map {
        background-color: #96bc67;
        .img {
          width: 690px;
          @media screen and (max-width: 1024px) {
            width: 100%;
          }
        }
      }
      &.wisdom {
        background-color: #6b5aef;
        margin-bottom: 50px;
        .img {
          width: 670px;
          padding-bottom: 40px;
          @media screen and (max-width: 1024px) {
            width: 100%;
          }
        }
      }
      &.skills {
        border: 4px solid #fff;
        padding-bottom: 80px;
        h1 {
          margin-bottom: 50px;
          width: 745px;
          @media screen and (max-width: 768px) {
            width: 100%;
          }
        }
        .desc {
          margin-bottom: 70px;
          width: 745px;
          @media screen and (max-width: 768px) {
            width: 100%;
          }
          p {
            margin-bottom: 30px;
          }
        }
        .features {
          display: flex;
          justify-content: space-between;
          padding: 0 90px;
          @media screen and (max-width: 1024px) {
            flex-flow: row wrap;
          }
          @media screen and (max-width: 768px) {
            padding: 0;
          }
          .feature {
            text-align: center;
            flex: 0 1;
            flex-basis: ~'calc(25% - 10px)';
            height: 260px;
            font-weight: bold;
            padding: 80px 30px;
            @media screen and (max-width: 1024px) {
              flex-basis: ~'calc(50% - 10px)';
              margin-bottom: 20px;
            }
            @media screen and (max-width: 414px) {
              flex-basis: 100%;
            }
            &:before {
              content: '';
              height: 42px;
              display: block;
              margin-bottom: 30px;
            }
            &.design {
              background: #845aec;
              &:before {
                .icon-development;
              }
            }
            &.development {
              background: #11c6fd;
              &:before {
                .icon-development;
              }
            }
            &.testing {
              background: #8cd51b;
              &:before {
                .icon-development;
              }
            }
            &.launch {
              background: #ff2b4b;
              &:before {
                .icon-development;
              }
            }
          }
        }
      }
    }
  }
}