.page-team {
  background-color: #2D2D2D;
  > h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    margin-top: 175px;
    padding: 0 80px;
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
  }
  > .desc {
    font-size: 16px;
    line-height: 2.0;
    color: #787878;
    padding: 0 20px;
    text-align: center;
    max-width: 740px;
    margin: auto;
    margin-bottom: 60px;
  }
  .team {
    padding: 0 80px 50px;
    display: flex;
    @media screen and (max-width: 736px) {
      padding: 0 20px 50px;
    }
    @media screen and (max-width: 414px) {
      flex-flow: row wrap;
    }
    .left {
      flex: 0 0 auto;
      margin-right: 100px;
      @media screen and (max-width: 414px) {
        margin-right: 0;
        margin-bottom: 50px;
      }
      h2 {
        font-family: BebasNeueBold, sans-serif;
        font-size: 45px;
        line-height: 1.0;
        color: #ffffff;
        display: inline-block;
        border-top: 4px solid;
        padding-top: 30px;
        margin-bottom: 15px;
      }
      .desc {

      }
    }
    .list {
      display: flex;
      flex-flow: row wrap;
      width: ~'calc(100% + 65px)';
      @media screen and (max-width: 414px) {
        justify-content: space-around;
      }
      .member {
        margin-right: 65px;
        margin-bottom: 40px;
        text-align: center;
        @media screen and (max-width: 414px) {
          margin-right: 0;
        }
        img {
          width: 136px;
          margin-bottom: 20px;
          @media screen and (max-width: 320px) {
            width: 110px;
          }
        }
        .name {
          font-family: BebasNeueBold, sans-serif;
          font-size: 22px;
          color: #eec817;
          margin-bottom: 5px;
        }
        .speciality {
          font-family: 'Open Sans', sans-serif;
          font-size: 16px;
          color: #c9c9c9;
        }
      }
    }
  }
  .map {
    text-align: right;
    padding: 0 80px 60px;
    @media screen and (max-width: 736px) {
      padding: 0 20px 60px;
    }
    img {
      width: 948px;
      @media screen and (max-width: 1024px) {
        width: 100%;
      }
    }
  }
}