.page-works {
  background-color: #2D2D2D;
  > h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    margin-top: 175px;
    padding: 0 80px;
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
  }
  > .desc {
    font-size: 16px;
    line-height: 2.0;
    color: #787878;
    padding: 0 20px;
    text-align: center;
    max-width: 740px;
    margin: auto;
  }
  .filter {
    text-align: center;
    @media screen and (max-width: 1024px) {
      margin: 0 20px;
    }
    .list {
      border: solid 4px #ffffff;
      padding: 20px 63px;
      margin: 30px auto 60px;
      display: inline-block;
      @media screen and (max-width: 1024px) {
        padding-bottom: 0;
      }
      a {
        font-size: 18px;
        line-height: 1.2;
        color: #ffffff;
        font-weight: bold;
        transition: .2s;
        @media screen and (max-width: 1024px) {
          margin-bottom: 20px;
          display: inline-block;
        }
        &:not(:last-child) {
          margin-right: 50px;
          @media screen and (max-width: 414px) {
            margin-right: 0;
          }
        }
        &:hover, &.active {
          color: #7e30e2;
        }
      }
    }
  }
  .works {
    padding: 0 80px 120px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    @media screen and (max-width: 414px) {
      padding: 0 20px 120px;
    }
    .work {
      flex: 0 0;
      flex-basis: ~'calc(50% - 20px)';
      margin-bottom: 40px;
      background-color: #655ea2;
      position: relative;
      height: 360px;
      padding: 40px 52px;
      @media screen and (max-width: 1024px) {
        height: auto;
      }
      @media screen and (max-width: 768px) {
        flex-basis: 100%;
      }
      &.storia {
        @media screen and (max-width: 768px) {
          padding-bottom: 300px;
        }
        .desc {
          padding-right: 170px;
          @media screen and (max-width: 1024px) {
            padding-right: 50px;
          }
        }
        img {
          @media screen and (max-width: 1024px) {
            position: absolute;
          }
        }
      }
      &.beeline {
        background-color: #3abbdb;
        .desc {
          padding-right: 130px;
          @media screen and (max-width: 1024px) {
            padding-right: 50px;
            margin-bottom: 50px;
          }
        }
        img {
          width: 350px;
          right: 20px;
          @media screen and (max-width: 1024px) {
            width: 100%;
            right: 0;
          }
        }
      }
      &.map {
        background-color: #eac519;
        .desc {
          padding-right: 50px;
          @media screen and (max-width: 1024px) {
            margin-bottom: 50px;
          }
        }
        img {
          width: 248px;
          right: 25px;
          @media screen and (max-width: 1024px) {
            width: 100%;
            right: 0;
          }
        }
      }
      &.wisdom {
        background-color: #3abbdb;
        .desc {
          padding-right: 10px;
          @media screen and (max-width: 1024px) {
            margin-bottom: 50px;
          }
        }
        img {
          width: 280px;
          right: 50px;
          @media screen and (max-width: 1024px) {
            width: 100%;
            right: 0;
          }
        }
      }
      &.fargos {
        background-color: #2d71ec;
        .desc {
          padding-right: 10px;
          @media screen and (max-width: 1024px) {
            margin-bottom: 50px;
          }
        }
        img {
          width: 330px;
          right: 10px;
          @media screen and (max-width: 1024px) {
            width: 100%;
            right: 0;
          }
        }
      }
      &.troll {
        background-color: #67c958;
        .desc {
          padding-right: 10px;
          @media screen and (max-width: 1024px) {
            margin-bottom: 50px;
          }
        }
        img {
          width: 330px;
          right: 40px;
          @media screen and (max-width: 1024px) {
            width: 100%;
            right: 0;
          }
        }
      }
      &.med {
        background-color: #cc69f8;
        .desc {
          padding-right: 10px;
          @media screen and (max-width: 1024px) {
            margin-bottom: 50px;
          }
        }
        img {
          width: 440px;
          bottom: 20px;
          right: 30px;
          @media screen and (max-width: 1024px) {
            width: 100%;
            right: 0;
          }
        }
      }
      h2 {
        font-family: BebasNeueBold, sans-serif;
        font-size: 55px;
        line-height: 1.0;
        color: #ffffff;
        margin-bottom: 15px;
        word-break: break-word;
      }
      .desc {
        font-size: 16px;
        line-height: 1.5;
      }
      img {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 458px;
        @media screen and (max-width: 1024px) {
          position: static;
          width: 100%;
        }
      }
    }
  }
  .info {
    .sub {
      padding: 0 80px 90px;
      display: flex;
      @media screen and (max-width: 414px) {
        padding: 0 20px 90px;
        flex-flow: row wrap;
      }
      h2 {
        font-family: BebasNeueBold, sans-serif;
        font-size: 45px;
        line-height: 1.0;
        color: #ffffff;
        display: inline-block;
        border-top: 4px solid;
        padding-top: 30px;
        margin-bottom: 15px;
        flex: 0 0 auto;
        margin-right: 160px;
        width: 220px;
      }
      .list {
        padding-top: 40px;
        display: flex;
        flex-flow: row wrap;
        .item {
          margin-right: 40px;
          @media screen and (max-width: 1024px) {
            margin-bottom: 50px;
          }
          .header {
            font-family: BebasNeueBold, sans-serif;
            font-size: 45px;
            line-height: 1.0;
            color: #ffffff;
            margin-bottom: 18px;
          }
          .desc {
            font-size: 18px;
            width: 210px;
          }
        }
        .logo {
          margin-right: 80px;
          margin-bottom: 40px;
          img {
            width: 150px;
          }
        }
      }
    }
  }
}